body{
    width: 99%;
    height: 900px;
    background-color: #ffcc66;
}

#topbar{
    margin-top: 28px;
}

.enter_section{
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}

#enter_text{
    width: 400px;
    height: 80px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin:auto;
    font-size: 38px;
}

.task{
    border-color: black;
    border-style: solid;
    border-width: 3px;
}

.button-size{
    padding-bottom: 20px;
}

#text-center-button{
    margin-top: 10px;
    margin-bottom: 10px;
}

h1{
    color: #f30;
}

.burgerEaten {
    font-family: 'Crafty Girls', cursive;
    font-weight: normal;
    font-size: 20px;
    text-align: center;

    border-radius: 25px;
    margin: 10px;
    padding: 10px;
    background-color: #ffd1c9;
}